@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}
@mixin dimension($ln, $hg){
    width: $ln;
    height: $hg;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
}

.container{
    @include dimension(100%, 100%);
    @include flex();
    flex-direction: column;
    overflow: hidden;
    #animation{
        overflow: hidden;
        @include dimension(100%, 58vh);
        @include flex();
        .sun{
            position: absolute;
            @include dimension(90px, 90px);
            background-color:yellow;
            border-radius: 40%;
            animation: sun 10s linear infinite;

        }
        .orbit1{
            height: 120px;
	        width: 120px;
	        z-index: 4;	
	        border-radius: 30%;
            position: absolute;
            border: 1px solid rgb(33, 33, 33);
            animation: 20s linear infinite;
            .p1{
                @include dimension(20px, 20px);
                background-color: rgb(237, 42, 185);
                border-radius:50%;
            }
        }
        .orbit2{
            height: 170px;
	        width: 170px;
	        z-index: 4;	
            position: absolute;
	        border-radius: 30%;
            border: 1px solid rgb(33, 33, 33);
            animation: 10s linear infinite;
            .p2{
                @include dimension(25px, 25px);
                background-color: rgb(201, 59, 59);
                border-radius:50%;
            }
        }

        .orbit3{
            height: 200px;
	        width: 200px;
	        z-index: 4;	
            position: absolute;
	        border-radius: 30%;
            border: 1px solid rgb(33, 33, 33);
            animation: 14s linear infinite;
            .p3{
                @include dimension(12px, 12px);
                background-color: rgb(59, 66, 201);
                border-radius:50%;

            }
        }
        
        .orbit4{
            height: 300px;
	        width: 300px;
	        z-index: 4;	
            position: absolute;
	        border-radius: 30%;
            border: 1px solid rgb(33, 33, 33);
            animation: 30s linear infinite;
            .p4{
                @include dimension(50px, 50px);
                background-color: rgb(31, 234, 35);
                border-radius:50%;

            }
        }

        @keyframes sun {
            0%{
                transform: rotate(0);
            }
            50%{
                transform: rotate(360deg);
            }
            100%{
                transform: rotate(-360deg);
            }
        }

        @keyframes rotate1 {
            0%{
                transform: rotate(0);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        @keyframes rotate2 {
            0%{
                transform: rotate(0);
            }
            100%{transform: rotate(-360deg)}
        }

        @keyframes rotate3 {
            0%{
                transform: rotate(0);
            }
            100%{transform: rotate(360deg)}
        }
        @keyframes rotate4 {
            0%{
                transform: rotate(0);
            }
            100%{transform: rotate(-360deg)}
        }
    }
    #filler{
        @include dimension(96%, 2vh);
        background-color:rgb(32, 32, 32);
        border-radius: 20px;
        margin: auto 1%;
        display:none;
        #time_spent{
            background-color: rgb(79, 132, 255);
            width: 0%;
            height: 100%;
            border-radius: 20px;
            animation: fill 30s linear infinite;
        }
        @keyframes fill {
            0%{
                background-color: rgb(79, 255, 205);
            }
            25%{
                background-color: rgb(189, 96, 243)
            }
            50%{
                background-color:rgb(250, 89, 204)
            }
            75%{
                background-color: rgb(244, 129, 87)
            }
            
        }
    }
    #timer{
        @include dimension(100%, 38vh);
        @include flex();
        flex-direction: column;
        #top{
            @include dimension(80%, 20vh);
            margin: auto 10%;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            .time{
                color: white;     
                font-size: 4rem;
                height: 10vh;
                @include flex();
                // box-shadow: 0 2px 30px 0 rgba(106, 106, 106, 0.37);
                backdrop-filter: blur( 2.5px );
                -webkit-backdrop-filter: blur( 2.5px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
            }
        }
        button{
            @include dimension(60%, 5vh);
            margin-bottom: 12vh;
            margin-top: -12vh;
            border: none;
            outline: none;
            outline: 3px double rgb(142, 28, 255);
            background-color: rgb(142, 28, 255);
            font-size: 1.5rem;
            color: white;
        }
        #pause{
            display: none;
        }
    }
}

#show_hide{
    position: absolute;
    bottom: 5px;
    @include dimension(10%, auto);
    margin: auto 45%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
}

#timer_slot{
    user-select: none;
    position: absolute;
    bottom: 0px;
    @include dimension(94%, 38vh);
    margin: 1% 3%;
    background-color:#000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    .box{
        border-radius: 20px;
        color: white;
        @include flex();
        font-size:3rem;
    }
    .t25{background-color: rgb(107, 247, 110);}
    .t30{background-color: rgb(247, 117, 117);}
    .t35{background-color: rgb(251, 113, 214);}
    .t40{background-color: rgb(113, 113, 246)}
    
}
