@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}
@mixin dimension($ln, $hg){
    width: $ln;
    height: $hg;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
    scroll-behavior: smooth;
}

body{
    background-color: #000;
}

.container{
    @include dimension(100%, 100%);
    @include flex();
    flex-direction: column;
    overflow: hidden;
    #animation{
        overflow: hidden;
        @include dimension(100%, 58vh);
        @include flex();
        .sun{
            position: absolute;
            @include dimension(90px, 90px);
            background-color:yellow;
            border-radius: 40%;

        }
        .orbit1{
            height: 120px;
	        width: 120px;
	        z-index: 4;	
	        border-radius: 30%;
            position: absolute;
            border: 1px solid rgb(22, 22, 22);
            animation: rotate1 20s linear infinite;
            .p1{
                @include dimension(20px, 20px);
                background-color: rgb(237, 42, 185);
                border-radius:50%;
            }
        }
        .orbit2{
            height: 170px;
	        width: 170px;
	        z-index: 4;	
            position: absolute;
	        border-radius: 30%;
            border: 1px solid rgb(22, 22, 22);
            animation: rotate2 10s linear infinite;
            .p2{
                @include dimension(25px, 25px);
                background-color: rgb(201, 59, 59);
                border-radius:50%;
            }
        }

        .orbit3{
            height: 200px;
	        width: 200px;
	        z-index: 4;	
            position: absolute;
	        border-radius: 30%;
            border: 1px solid rgb(22, 22, 22);
            animation: rotate3 14s linear infinite;
            .p3{
                @include dimension(12px, 12px);
                background-color: rgb(59, 66, 201);
                border-radius:50%;

            }
        }
        
        .orbit4{
            height: 300px;
	        width: 300px;
	        z-index: 4;	
            position: absolute;
	        border-radius: 30%;
            border: 1px solid rgb(22, 22, 22);
            animation: rotate4 30s linear infinite;
            .p4{
                @include dimension(50px, 50px);
                background-color: rgb(31, 234, 35);
                border-radius:50%;

            }
        }

        @keyframes rotate1 {
            0%{
                transform: rotate(0);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        @keyframes rotate2 {
            0%{
                transform: rotate(0);
            }
            100%{transform: rotate(-360deg)}
        }

        @keyframes rotate3 {
            0%{
                transform: rotate(0);
            }
            100%{transform: rotate(360deg)}
        }
        @keyframes rotate4 {
            0%{
                transform: rotate(0);
            }
            100%{transform: rotate(-360deg)}
        }
    }
    #filler{
        @include dimension(96%, 2vh);
        background-color:rgb(32, 32, 32);
        border-radius: 20px;
        margin: auto 1%;
    }
    #timer{
        @include dimension(100%, 40vh);
    }
}