@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

@media (min-width: 700px) {
  html {
    font-size: calc(10px + 0.5vw);
  }
}

body {
  background-color: #000;
  font-family: 'Roboto Slab', serif;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container #animation {
  overflow: hidden;
  width: 100%;
  height: 58vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #animation .sun {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: yellow;
  border-radius: 40%;
}

.container #animation .orbit1 {
  height: 120px;
  width: 120px;
  z-index: 4;
  border-radius: 30%;
  position: absolute;
  border: 1px solid #161616;
  -webkit-animation: rotate1 20s linear infinite;
          animation: rotate1 20s linear infinite;
}

.container #animation .orbit1 .p1 {
  width: 20px;
  height: 20px;
  background-color: #ed2ab9;
  border-radius: 50%;
}

.container #animation .orbit2 {
  height: 170px;
  width: 170px;
  z-index: 4;
  position: absolute;
  border-radius: 30%;
  border: 1px solid #161616;
  -webkit-animation: rotate2 10s linear infinite;
          animation: rotate2 10s linear infinite;
}

.container #animation .orbit2 .p2 {
  width: 25px;
  height: 25px;
  background-color: #c93b3b;
  border-radius: 50%;
}

.container #animation .orbit3 {
  height: 200px;
  width: 200px;
  z-index: 4;
  position: absolute;
  border-radius: 30%;
  border: 1px solid #161616;
  -webkit-animation: rotate3 14s linear infinite;
          animation: rotate3 14s linear infinite;
}

.container #animation .orbit3 .p3 {
  width: 12px;
  height: 12px;
  background-color: #3b42c9;
  border-radius: 50%;
}

.container #animation .orbit4 {
  height: 300px;
  width: 300px;
  z-index: 4;
  position: absolute;
  border-radius: 30%;
  border: 1px solid #161616;
  -webkit-animation: rotate4 30s linear infinite;
          animation: rotate4 30s linear infinite;
}

.container #animation .orbit4 .p4 {
  width: 50px;
  height: 50px;
  background-color: #1fea23;
  border-radius: 50%;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate4 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate4 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.container #filler {
  width: 96%;
  height: 2vh;
  background-color: #202020;
  border-radius: 20px;
  margin: auto 1%;
}

.container #timer {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container #timer #top {
  width: 80%;
  height: 20vh;
  margin: auto 10%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container #timer #top .time {
  color: white;
  font-size: 4rem;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 30px 0 rgba(106, 106, 106, 0.37);
          box-shadow: 0 2px 30px 0 rgba(106, 106, 106, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container #timer #pause {
  width: 60%;
  height: 5vh;
  margin-bottom: 12vh;
  margin-top: -12vh;
  border: none;
  outline: none;
  outline: 3px double #8e1cff;
  background-color: #8e1cff;
  font-size: 1.5rem;
  color: white;
}

#show_hide {
  position: absolute;
  bottom: 5px;
  width: 10%;
  height: auto;
  margin: auto 45%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */